<nav class='navbar navbar-default' role='navigation'>
  <div class='container-fluid'>
    
    <div class='navbar-header'>
      <button type='button'
              class='navbar-toggle'
              data-toggle='collapse'
              data-target='#splash-header-collapse'>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="splash-header-collapse">
      <ul class="nav navbar-nav">
        <li class="pf-brand">
          <span id="header-logo">
            <%= link_to "#{image_tag 'navbarlogotransparent.png'}".html_safe, '/' %>
          </span>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      <% unless @dashboard %>
          <li>
            <%= link_to 'WHY & HOW', '/why' %>
          </li>
        
          <li>
            <%= link_to 'COMMUNITY', '/community' %>
          </li>
        
          <li>
            <%= link_to 'HELP', '/help' %>
          </li>
      <% end %>
      
      
      <% if logged_in? %>
          <li>
            <div class="dropdown">
              <button data-toggle="dropdown"
                      id="user-dropdown"
                      class="btn btn-link username-button">
                <%= current_user.full_name.upcase %> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a tabindex="-1"
                     href='<%= "#{user_path(current_user)}" %>'>
                     Account Profile
                  </a>
                </li>
                <li>
                  <%= link_to '<span class="glyphicon glyphicon-off"></span> Log Out'.html_safe, session_url, method: :delete %>
                </li>
              </ul>
              </a>
            </div>
          </li>
          
      
      <% else %>
        <li>
          <a href="#"
             data-toggle="modal"
             data-target="#signUp">
            Sign Up
          </a>
        </li>
        <li>
          <a href="#"
             data-toggle="modal"
             data-target="#logIn">
            Log In
          </a>
        </li>
      
      <% end %>
      
      </ul>
      
      <!--<form class="navbar-form" role="search">
        <div class="form-group search-form">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </form>-->
      
    </div>
  </div>
</nav>