<nav class='navbar navbar-default col-md-12' role='navigation'>
  <div class='container col-md-12 nav-container'>    
    <ul id='nq1' class="nav navbar-nav navbar-left" id="navbar-log">
      <li class="pf-brand">
        <span id="header-logo">
          <%= link_to "#{image_tag 'navbarlogotransparent.png'}".html_safe, '/' %>
        </span>
      </li>
    </ul>
    
      <ul id='nq2' class="nav navbar-nav navbar-right">
        <li class="<%= maybe_active(@community) %>">
          <%= link_to 'COMMUNITY', 'community' %>
        </li>
        
        <li class="<%= maybe_active(@help) %>">
          <%= link_to 'HELP', '/help' %>
        </li>
    
      <% if logged_in? %>
        <li class="<%= maybe_active(@dashboard) %>">
          <%= link_to 'DASHBOARD', '/' %>
        </li>
        
        <li>
          <div class="dropdown">
            <button data-toggle="dropdown"
                    id="user-dropdown"
                    class="btn btn-link username-button">
              <%= current_user.full_name.upcase %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a tabindex="-1"
                   href='<%= "#{user_path(current_user)}" %>'>
                   <p>Account Profile</p>
                </a>
              </li>
              <li>
                <%= link_to '<p>Log Out  <span class="glyphicon glyphicon-off"></span></p>'.html_safe, session_url, method: :delete %>
              </li>
            </ul>
            </a>
          </div>
        </li>  
      <% else %>
        <li>
          <a href="#"
             data-toggle="modal"
             data-target="#signUp">
            SIGN UP
          </a>
        </li>
        <li>
          <a href="#"
             data-toggle="modal"
             data-target="#logIn">
            LOG IN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </li>
      <% end %>
      </ul>
      
      <!--<form class="navbar-form" role="search">
        <div class="form-group search-form">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </form>-->
  </div>
</nav>